/* display: flex */
    /* One advantage to having "display: inline-block" is that boxes will be able to sit next to each other, while maintaining width modifiability for all the boxes */
    /* However, "display: inline-block" will automatically create spaces in between the boxes due to the separation of one block's HTML from the other blocks' HTML code. */
    /* One way of avoiding this would be to write the closing html tag and opening html tag for two adjacent boxes */
        <div class="container">
            <div class="col">
                <h3>Lorem</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div><div class="col"> /* see this line for example */
                <h3>Ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div><div class="col">
                <h3>Dolor</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
    /* however, an easier way would be to use "display: flex" in the css code for the <div> with the "container" class */
        .container {
            width: 720px;
            height: 250px;
            background-color: silver;
            display: flex; /* see this line for the modification */
            align-items: center;
        }
    /*  however, when using "display: flex", multiple images can become distorted. This can be fixed using another property, "align-items: center" */

/* justify-content */
    /* can be used to move multiple images around a webpage, while maintaining their relative position to one another */
        #dojo {
            justify-content: flex-start;
            justify-content: center;
            justify-content: flex-end;
            justify-content: space-between;
            justify-content: space-evenly;
            justify-content: space-around
        }