.background {
    height: 200px;
    width: 320px;
    background-color: #ffcd00;
}

.upperLeft {
    height: 90px;
    width: 100px;
    display: inline-block;
    background-color: #004b87;
}

.upperRight {
    height: 90px;
    width: 199px;
    display: inline-block;
    background-color: #004b87;
    margin-left: 17px
}

.lowerLeft {
    height: 90px;
    width: 100px;
    display: inline-block;
    background-color: #004b87;
    margin-top: 18px;
}

.lowerRight {
    height: 90px;
    width: 199px;
    display: inline-block;
    background-color: #004b87;
    margin-top: 18px;
    margin-left: 17px
}