/* The Box Model: the content is enclosed in padding, which is enclosed in the border, and then enclosed in the margin */
    /* You can set the size of the margin, padding, or border for an element */
        div {
            padding: 10px;
            border: 20px;
            margin: 30px;
            }
    /* when specifying the size of a particular side for any margin, padding, or border, you can use a shorthand notation where the order goes Top, Right, Bottom, Left in a clockwise fashion */
        div {
            padding: 25px 50px 75px 100px;
        }
    /* However, utilizing the code below is also perfectly valid */
        div {
            padding-top: 25px;
            padding-right: 50px;
            padding-bottom: 75px;
            padding-left: 100px;
        }
    /* According to the Box Model, the total width of an element is (Margin x2)+(Border x2)+(Padding x2)+(Content Width) */
        /* Calcualting the height is much trickier because vertical Margins collapse */
            /* Collapsing in this context means that the bigger Margin swallows up the smaller Margin next to it, when they're next to each other vertically  */
            /* When the vertical margins of two elements are touching, only the margin of the element with the largest margin will be honored */
            /* The margin of the element with the smaller margin will be collapsed to zero */
        /* There are other situations where elements do not have their margins collapse */
            /* floated elements */
            /* absolutely positions elements */
            /* inline-block elements */

/* Inline and Block */
    /* Every HTML element has a default display property of either "inline" (e.g., <input>) or "block" (e.g., <div>).


    /* HTML elements' display properties can be changed through CSS, however */
        h1, h2 {
            display: inline;
            background-color: cyan;
        }
        label, input {
            display: block;
        }


    /* "Inline" doesn't allow elements' widths to be resized. */
        h1, h2 {
            display: inline;
            background-color: cyan;
            width: 200px; /* this won't work!!! */
        }


    /* for elements that typically go inline such as... */
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">User Profile</a>
        <a href="#">Contact Us</a>
    /* we can use "display: block" to make them go on top of one another instead */
        a {
            display: block;
        }


/* Inline-Block: display property that allows you to display two elements Inline while adjusting their width at the same time */
    h1, h2 {
        display: inline-block;
        background-color: cyan;
        width: 200px; /* this will work! */
    }

    /* This can be used to create text columns like in cases where the HTML is... */
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>

    /* and the CSS is... */
        p {
            display: inline-block;
            width: 160px;
            box-sizing: border-box;
            padding: 20px;
            background-color: lightcyan;
            margin: 10px;
        }

    /* For multiple columns that don't have the same amount of content, however, the default alignment for their boxes is at the bottom */
        
        /* This can be changed by using "vertical-align: top" */
