<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
        body {
            padding: 200px 0px;
        }
        .center {
            text-align: center;
        }
        .buttonContainers {
            display: flex;
            justify-content: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <h1 class="center">Counter</h1>
    <p class="center">You've visited the site {{ session['click'] }} times!</p>
    <div class="buttonContainers">
        <form action="/">
            <input type="submit" name="click" value="Click">
        </form>
        <form action="/destroy_session">
            <input type="submit" name="reset" value="Reset">
        </form>
    </div>
</body>
</html>
