<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Dojo Survey</title>
</head>
<body>


    <!-- FORM  -->
    <form action='/process' class="container" method="post">
        <h1>Dojo Survey</h1>

        <!-- INPUT: NAME -->
        <div>
            <label for="name" class="displayBlock">Name:</label>
            <input type="text" name="name" class="displayBlock"></input>
        </div>

        <!-- INPUT: DOJO LOCATION -->
        <div>
            <label for="dojoLocation" class="displayBlock">Dojo Location:</label>
            <select type="select" name="dojoLocation" class="displayBlock">
                <option value="Bellevue, WA">Bellevue, WA</option>
                <option value="Boise, ID">Boise, ID</option>
                <option value="Chicago, IL">Chicago, IL</option>
                <option value="Los Angeles, CA">Los Angeles, CA</option>
                <option value="Silcion Valley, CA">Silicon Valley, CA</option>
            </select>
        </div>

        <!-- INPUT: FAVORITE LANGUAGE -->
        <div>
            <label for="favoriteLanguage" class="displayBlock">Favorite Language:</label>
            <select type="select" name="favoriteLanguage" class="displayBlock">
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
        </div>

        <!-- INPUT: COMMENTS -->
        <div>
            <label for="Comments" class="displayBlock">Comments (optional):</label>
            <textarea type="text" name="comments" class="displayBlock heightAdjust"></textarea>
        </div>

        <!-- INPUT: SUBMIT BUTTON -->
        <div>
            <input type="submit" class="buttonAdjust" value="Submit">
        </div>

    </form>


</body>
</html>