.nav {
    background-color: grey;
    display: flex;
    justify-content:space-between;
    color: whitesmoke;
}
.nav-title {
    padding: 10px;
    margin: 7px 0px 0px 20px;
}
.nav-links {
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
}
li {
    display: inline;
    padding: 15px;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.btn {
    background: skyblue;
    height: 30px;
    width: 120px;
    box-shadow: 5px 5px black;
    border-color: black;
    border-width: 3px;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
}